body {
  text-align: center;
  background-color: #194756;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.App {
  display: flex;
  flex-direction: column;
  width: 80vh;
}

h1 {
  padding-top: 2rem;
}

.btn-add {
  background-color: #FF3B58;
  padding: 0.5rem 0.7rem 0.5rem 0.7rem;
  color: white;
  border-radius: 7px;
  border-style: none;
  box-shadow: 0 3px 3px rgb(0 0 0 / 0.3);
  cursor: pointer;
  margin-left: 1rem;
}

.btn-save {
  background-color: #07bd07b7;
  padding: 0.5rem;
  color: white;
  border-radius: 7px;
  border-style: none;
  box-shadow: 0 3px 3px rgb(0 0 0 / 0.3);
  cursor: pointer;
  margin-left: 1rem;
}

.add-task {
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}


input {
  padding: 0.5rem;
  border-radius: 7px;
  border-style: none;
  box-shadow: 0 3px 3px rgb(0 0 0 / 0.3);
  width: 100%;
}

.task {  
  display: flex;  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 12px;
  height: 1.9rem;
  background-color:white;
  color: black;
  border-radius: 7px;
  border-style: none;
  box-shadow: 0 3px 3px rgb(0 0 0 / 0.3);
  padding-left: 1rem;
}

.task-completed {
  text-decoration: line-through;
  color: rgb(197, 197, 197);
}



.task-edit {
  display: flex;  
  align-items: center;
  margin-bottom: 1rem;
  font-size: 12px;
  height: 1.9rem;
  color: black;
  border-radius: 7px;
  border-style: none;
}



.task-list {

}



h3 {
  cursor: pointer;
  font-size: 14px;

}

.icon {
  cursor: pointer;
  margin: 0.5rem;
  font-size: 15px;
  box-shadow: 0 1px 1px rgb(0 0 0 / 0.1);
}

